# Django core
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_LANGUAGE_CODE=en-us
DJANGO_TIME_ZONE=UTC
DJANGO_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DJANGO_DEFAULT_FROM_EMAIL=noreply@greencampus.emsi.ma
EMAIL_VERIFICATION_REQUIRED=True

# SQL Server (mssql-django)
DB_ENGINE=mssql
DB_NAME=GreenCampusDB
DB_HOST=localhost\SQLEXPRESS
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DRIVER=ODBC Driver 17 for SQL Server
DB_TRUSTED_CONNECTION=True
DB_EXTRA_PARAMS=
DJANGO_USE_SQLITE_FOR_TESTS=True

# CORS / CSRF / app URLs
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:5173,http://127.0.0.1:5173
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://127.0.0.1:8000

# JWT
JWT_ACCESS_TOKEN_HOURS=1
JWT_REFRESH_TOKEN_DAYS=7
JWT_ROTATE_REFRESH_TOKENS=True
JWT_BLACKLIST_AFTER_ROTATION=True
JWT_AUTH_HEADER_TYPE=Bearer
JWT_ALGORITHM=HS256
JWT_SIGNING_KEY=change-this-jwt-signing-key-to-at-least-32-characters
